@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import './layout.css';
@import './sidebar.css';
@import './navbar.css';
@import './forms.css';
@import './tables.css';

.print-only {
    display: none;
}

@media print {

    .no-print {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }

    .print-full-width {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .card {
        box-shadow: none !important;
    }

    .card-header {
        background: transparent !important;
    }

    body {
        background: #fff !important;
    }

    a {
        text-decoration: none !important;
        color: inherit !important;
    }

    .dashboard-action{

    transition: .25s;

    cursor:pointer;

    }

    .dashboard-action:hover{

        transform:translateY(-6px);

        box-shadow:0 .75rem 1.5rem rgba(0,0,0,.15);

    }

}
